
# NASA API Data Exploration Project

In this project, I practiced consuming public APIs through the NASA public APIs portal.

NASA Portal description : The objective of this portal is to make NASA data, including imagery, eminently accessible to application developers and data professionals. Before starting to use its APIs endpoints, it's mandatory that you generate your API KEY and store it somewhere for later use. The API key acts as the user identifier when requesting the API. To get your KEY, fill in the provided form with your personal information, and then we shall receive an email containing your personal API KEY.

NASA API PORTAL : https://api.nasa.gov/




Instructions
Go to the NASA API portal and generate your API KEY

Import the requests package and store your API KEY in variable

Go back to portal website and click on 'browse APIs'

Click on the first dropdown menu, named 'APOD' and read its documentation

Follow the provided documentation to ask the API endpoint for the astronomy picture of the day. Get then display the image on your notebook.

Go through the list of the provided API endpoints once again and select 'Astronomy Picture of the Day' option. Store the results in a pandas dataframe

Do the necessary data pre-processing tasks on the previous result in order to get a clean dataframe with the following columns :
Asteroid ID
Asteroid name
The Minimal estimated diameter in Kilometre
Absolute_magnitude
Relative_velocity(km/s)

In [2]:
import requests #This is how python connects to any website

In [3]:
url = "https://api.nasa.gov/planetary/apod?api_key=GZ7c3rxcQfZVr3KV8oAnGd0NlvztT4FVuvq5kxRR" # Give it the url to be connected to

In [4]:
api_key = "GZ7c3rxcQfZVr3KV8oAnGd0NlvztT4FVuvq5kxRR" # Most websites have api_keys. you will need to get the api key

In [5]:
response = requests.get(url)
response.json()

{'copyright': '\nNico Lefaudeux\n',
 'date': '2024-10-15',
 'explanation': "How bright and strange will the tails of Comet Tsuchinshan-ATLAS become? The comet has brightened dramatically over the few weeks as it passed its closest to the Sun and, just three days ago, passed its closest to the Earth. C/2023 A3 (Tsuchinshanâ€“ATLAS) became of the brightest comets of the past century over the past few days, but was unfortunately hard to see because it was so nearly superposed on the Sun.  As the comet appears to move away from the Sun, it is becoming a remarkable sight -- but may soon begin to fade.  The featured animated video shows how the comet's tails have developed, as viewed from Earth, and gives one prediction about how they might further develop. As shown in the video, heavier parts of the  dust tail that trails the comet have begun to appear to point in nearly the opposite direction from lighter parts of the dust tail as well as the comet's  ion tail, the blue tail that is pushed directly out from the Sun by the solar wind.   Growing Gallery: Comet Tsuchinsan-ATLAS in 2024",
 'media_type': 'video',
 'service_version': 'v1',
 'title': 'Animation: Comet Tsuchinshan-ATLAS Tails Prediction',
 'url': 'https://www.youtube.com/embed/dY6poe072_c?rel=0'}

In [6]:

from IPython.display import Image, display

# NASA APOD API endpoint
apod_url = "https://api.nasa.gov/planetary/apod"

# Your NASA API key (get yours from: https://api.nasa.gov/)
api_key = "GZ7c3rxcQfZVr3KV8oAnGd0NlvztT4FVuvq5kxRR"

# Parameters for the API request
params = {
    "api_key": api_key,
    "hd": True  # Set to True if you want high-resolution images when available
}

try:
    # Sending a GET request to NASA APOD API
    response = requests.get(apod_url, params=params)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Extracting JSON data from the response
        data = response.json()

        # Retrieving the image URL
        image_url = data['url']

        # Displaying the image in the notebook
        display(Image(url=image_url))
    else:
        print(f"Failed to retrieve data. Error: {response.status_code}")
except requests.RequestException as e:
    print(f"Request failed: {e}")

Sometimes the APOD service returns a video URL instead of an image URL, leading to this error.Let's enhance the code to handle this by checking if the fetched content is an image before attempting to display it.
The code below checks if the media type of the fetched content is an image before attempting to display it. If the media type is not an image, it will print a message indicating that today's APOD is not an image. This should help in handling different types of content that might be returned by the APOD service.

In [7]:
import requests
from PIL import Image
import io
from IPython.display import display

# NASA APOD API endpoint
apod_url = "https://api.nasa.gov/planetary/apod"

# Your NASA API key (get yours from: https://api.nasa.gov/)
api_key = "GZ7c3rxcQfZVr3KV8oAnGd0NlvztT4FVuvq5kxRR"

# Parameters for the API request
params = {
    "api_key": api_key,
    "hd": True  # Set to True if you want high-resolution images when available
}

try:
    # Sending a GET request to NASA APOD API
    response = requests.get(apod_url, params=params)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Extracting JSON data from the response
        data = response.json()

        # Check if the media type is an image
        if data['media_type'] == 'image':
            # Retrieving the image URL
            image_url = data['url']

            # Fetching the image data
            image_response = requests.get(image_url)
            image_data = Image.open(io.BytesIO(image_response.content))

            # Displaying the image in the notebook
            display(image_data)
        else:
            print("Today's APOD is not an image. It might be a video or other media.")
    else:
        print(f"Failed to retrieve data. Error: {response.status_code}")
except requests.RequestException as e:
    print(f"Request failed: {e}")

Today's APOD is not an image. It might be a video or other media.

# Alternatively, we can also use matplotlib library

In [8]:
import requests
import matplotlib.pyplot as plt
from PIL import Image
import io

# NASA APOD API endpoint
apod_url = "https://api.nasa.gov/planetary/apod"

# Your NASA API key (get yours from: https://api.nasa.gov/)
api_key = "GZ7c3rxcQfZVr3KV8oAnGd0NlvztT4FVuvq5kxRR"

# Parameters for the API request
params = {
    "api_key": api_key,
    "hd": True  # Set to True if you want high-resolution images when available
}

try:
    # Sending a GET request to NASA APOD API
    response = requests.get(apod_url, params=params)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Extracting JSON data from the response
        data = response.json()

        # Check if the media type is an image
        if data['media_type'] == 'image':
            # Retrieving the image URL
            image_url = data['url']

            # Fetching the image data and displaying it using matplotlib
            image_response = requests.get(image_url)
            image_data = Image.open(io.BytesIO(image_response.content))

            plt.imshow(image_data)
            plt.axis('off')  # Turn off axis labels
            plt.show()
        else:
            print("Today's APOD is not an image. It might be a video or other media.")
    else:
        print(f"Failed to retrieve data. Error: {response.status_code}")
except requests.RequestException as e:
    print(f"Request failed: {e}")

Today's APOD is not an image. It might be a video or other media.

In [9]:
import pandas as pd
import requests

# NASA NeoWs API endpoint for retrieving Asteroid data
neo_ws_url = "https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=GZ7c3rxcQfZVr3KV8oAnGd0NlvztT4FVuvq5kxRR"

# Your NASA API key (get yours from: https://api.nasa.gov/)
api_key = "GZ7c3rxcQfZVr3KV8oAnGd0NlvztT4FVuvq5kxRR"

# Parameters for the API request
params = {
    "api_key": api_key
}

try:
    # Sending a GET request to NASA NeoWs API to fetch asteroid data
    response = requests.get(neo_ws_url, params=params)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Extracting JSON data from the response
        data = response.json()

        # Extracting relevant information and storing it in a list
        asteroids_data = []
        for asteroid in data['near_earth_objects']:
            asteroid_id = asteroid['id']
            asteroid_name = asteroid['name']
            min_diameter_km = asteroid['estimated_diameter']['kilometers']['estimated_diameter_min']
            abs_magnitude = asteroid['absolute_magnitude_h']
            relative_velocity = asteroid['close_approach_data'][0]['relative_velocity']['kilometers_per_second']

            asteroids_data.append({
                'Asteroid ID': asteroid_id,
                'Asteroid name': asteroid_name,
                'Minimal estimated diameter (km)': min_diameter_km,
                'Absolute magnitude': abs_magnitude,
                'Relative velocity (km/s)': relative_velocity
            })

        # Creating a DataFrame from the extracted data
        asteroids_df = pd.DataFrame(asteroids_data)

        print("DataFrame successfully created")
    else:
        print(f"Failed to retrieve data. Error: {response.status_code}")
except requests.RequestException as e:
    print(f"Request failed: {e}")

DataFrame successfully created

In [10]:
 # Displaying the DataFrame
asteroids_df.head(20)

,Asteroid ID,Asteroid name,Minimal estimated diameter (km),Absolute magnitude,Relative velocity (km/s)
0,2000433,433 Eros (A898 PA),22.006703,10.41,5.5786191875
1,2000719,719 Albert (A911 TB),2.025606,15.59,3.4460288901
2,2000887,887 Alinda (A918 AA),4.534767,13.84,6.8047915813
3,2001036,1036 Ganymed (A924 UB),38.419789,9.20,6.3038664131
4,2001221,1221 Amor (1932 EA1),0.888290,17.38,13.269377828
5,2001566,1566 Icarus (1949 MA),1.301832,16.55,27.0080710025
6,2001580,1580 Betulia (1950 KA),3.080030,14.68,28.6869686393
7,2001620,1620 Geographos (1951 RA),2.347226,15.27,11.7628121919
8,2001627,1627 Ivar (1929 SH),7.220296,12.83,8.3835108357
9,2001685,1685 Toro (1948 OA),3.703011,14.28,17.0090767602
10,2001862,1862 Apollo (1932 HA),1.616423,16.08,12.3118751776
11,2001863,1863 Antinous (1948 EA),2.160504,15.45,18.0795139571
12,2001864,1864 Daedalus (1971 FA),2.835012,14.86,22.5062061841
13,2001865,1865 Cerberus (1971 UA),1.165615,16.79,15.3278825687
14,2001866,1866 Sisyphus (1972 XA),8.405334,12.50,33.8145949875
15,2001915,1915 Quetzalcoatl (1953 EA),0.560473,18.38,15.120986141
16,2001916,1916 Boreas (1953 RA),2.719913,14.95,6.9573972766
17,2001917,1917 Cuyo (1968 AA),3.487827,14.41,18.3975560848
18,2001943,1943 Anteros (1973 EC),1.925551,15.70,13.2592023362
19,2001980,1980 Tezcatlipoca (1950 LA),4.534767,13.84,12.9006036375

In [11]:
# exploring the dataframe
asteroids_df.shape

(20, 5)

In [12]:
#Exporting the DataFrame to a CSV file

# Save DataFrame as CSV file in the root directory of Google Colab
file_name = 'asteroids_df'
asteroids_df.to_csv(file_name, index=False)

# Check if the file is saved in the root directory
import os
root_path = '/content/'
file_path = os.path.join(root_path, file_name)

# Verify the file existence
if os.path.exists(file_path):
    print(f"File '{file_name}' has been saved in the root directory.")
else:
    print(f"File '{file_name}' was not saved. Please check for errors.")

File 'asteroids_df' has been saved in the root directory.